<table width='100%' cellspacing = '1' cellpadding = '2' class= 'outer'> 
  <tr> 
    <td align='left' class = 'itemHead'>
		<{$down.downlink}>
	</td> 
  </tr> 
  <tr>
    <td align='right' class = 'even'>
		<small><b><{$lang_hits}></b>:&nbsp;<{$down.counter}>&nbsp;<b><{$lang_filesize}></b>&nbsp;<{$down.size}></small>
	</td> 
  </tr> 
  <tr > 
    <td align='left' colspan='3'> 
        <{$down.description}>	
	</td> 
  </tr> 
  <tr> 
    <td align='right' class = 'even'><small><b><{$lang_uploaded}></b>2004/4/9</small></td> 
  </tr> 
</table>
